<!DOCTYPE html>
<html>
<head>
   <title> Shopping_mall - 메인</title>
   <meta charset="utf-8">
   <link type="text/css" rel="stylesheet" href="/static/style.css">
    
</head>
    
    
        
    
<body>
    <div id="main">
    <center>
    <h1> {{title}} VIP 고객님! ★ <p>쇼핑몰에 오신 것을 환영합니다</p> </h1>
    
        <h2><a href="/NEW"> NEW SHOP으로 이동하기</a></h2>
        <h2><a href="/OLD"> OLD SHOP으로 이동하기</a> </h2>
        
<!--  ==============추가된 부분======================         -->
        <h2><a href="/shop_ranking"> 쇼핑몰 별 실시간 순위 </a> </h2>
       
          
        <h2><button><a href="/logout">logout</a></button></h2>
        
<!--  ==============추가된 부분======================         -->        
     
        
    </center>     
    </div>
</body>
    
</html>