<!DOCTYPE html>
<html>
<head>
   <title> Shopping_mall - 중고샵</title>
   <meta charset="utf-8">
   <link type="text/css" rel="stylesheet" href="/static/style.css">
    
</head>
    
    
        
    
<body>
    <center>
    <h1>▷▶ 오늘의 중고 ◁◀</h1>
    <div id="container">
    <div>
        <img src="https://images.unsplash.com/photo-1521875236586-02756e2e55db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" width=300 height=400><br>
        <b>옷장 안 옷 전부 가져가세요 <u>3,000원</u></b>
    
    </div>
    <div>
        
        <img src="https://images.unsplash.com/photo-1583846552345-d2aa9d764209?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" width=300 height=400><br>
        <b>하늘색 맥코트 <u>25,000원</u></b>
    </div>
    <div>
        <img src="https://images.unsplash.com/photo-1582100472389-3ba6d20cfc82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80" width=300 height=400><br>
        <b>꽃 시스루 블라우스 <u>15,000원</u></b>
    </div>
    </div>
          
    <a href="/review"> <b><h2>REVIEW </h2></b></a>
    </center>
</body>
    
</html>