<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        
        <center><h1>{{title}} 실시간 랭킹</h1> <h2>{{time}} 기준</h2></center>
        <div id="shop_color">
        <ul>
            <li> 가격설정 </li>
            <form  method ="post">
            <p><input type="number" name="price1" placeholder="최저가"> ~ <input type="number" name="price2" placeholder="최고가">  <button type="submit"> 검색하기 </button> ※ 로딩 약 10초 소요 ※</p>
           
    </form>
          
        </ul>
        <form action='/{{action}}'> </form>
        
            {% for item in products %}
                <div>
                    < {{loop.index}}위 >  <font size = "3pt">  <b>브랜드</b> : {{item.브랜드명}}, <b>제품명</b> : {{item.이름}}, <b>최저가</b> : {{item.가격}}, <b>♥</b> : {{item.좋아요}} </font>
                
                        
                </div>
            {% endfor %}
       </div>    
    </body>
</html>
    
    
  
    

